#version 450
#extension GL_GOOGLE_include_directive : enable

#include "global.h"

#define M_PI 3.1415926535897932384626433832795

// 64 bytes
layout(push_constant) uniform Transform {
	mat4 mvp;
};


#if defined(USE_FOG) || defined(USE_ENV)
layout(set = VK_DESC_UNIFORM, binding = VK_DESC_UNIFORM_MAIN_BINDING) uniform UBO {
	// light/env/material parameters:
	vec4 eyePos;
	vec4 lightPos;
	vec4 lightColor;
	vec4 lightVector;
	
	// fog parameters:
	vec4 fogDistanceVector;
	vec4 fogDepthVector;
	vec4 fogEyeT;
	vec4 fogColor;

#if defined(USE_FOG) && !defined(USE_VBO_MODEL)
    vkEntityMatrix_t u_entity; // modelMatrix
#endif
};
#endif

#if defined(USE_FOG)
	layout(set = VK_DESC_UNIFORM, binding = VK_DESC_UNIFORM_CAMERA_BINDING) uniform Camera {
		vkUniformCamera_t u_camera;
	};
#endif

#if defined(USE_VBO_MODEL)
	layout(set = VK_DESC_UNIFORM, binding = VK_DESC_UNIFORM_ENTITY_BINDING) uniform Entity {
		vkUniformEntity_t u_entity;
	};

	layout(set = VK_DESC_UNIFORM, binding = VK_DESC_UNIFORM_BONES_BINDING) uniform Bones {
		vkUniformBones_t u_bones;
	};

	layout(set = VK_DESC_UNIFORM, binding = VK_DESC_UNIFORM_GLOBAL_BINDING) uniform Global {
		vkUniformGlobal_t u_global;
	};

	layout(location = 7) out vec4 var_Normal;
	layout(location = 8) out vec4 var_LightDir;
	//layout(location = 9) out vec4 var_ViewDir;
#endif

layout(location = 0) in vec3 in_position;

#ifndef USE_ENV
layout(location = 2) in vec2 in_tex_coord0;
#endif

#ifdef USE_TX1
layout(location = 3) in vec2 in_tex_coord1;
#endif
#ifdef USE_TX2
layout(location = 4) in vec2 in_tex_coord2;
#endif

#if defined(USE_ENV) || defined(USE_VBO_MODEL)
layout(location = 5) in vec3 in_normal;
#endif

#if defined (USE_CLX_IDENT) || defined (USE_FIXED_COLOR)
// use either 1.0 or fixed (rgb+a) color from spec.constants
#else
	#if !defined(USE_VBO_MODEL)
		layout(location = 1) in vec4 in_color0;
	#endif

	#if defined(USE_CL1) && !defined(USE_VBO_MODEL)
	layout(location = 6) in vec4 in_color1;
	#endif
	#if defined(USE_CL2) && !defined(USE_VBO_MODEL)
	layout(location = 7) in vec4 in_color2;
	#endif

	layout(location = 0) out vec4 frag_color0;
	#ifdef USE_CL1
	layout(location = 5) out vec4 frag_color1;
	#endif
	#ifdef USE_CL2
	layout(location = 6) out vec4 frag_color2;
	#endif
#endif

layout(location = 1) out vec2 frag_tex_coord0;
#ifdef USE_TX1
layout(location = 2) out vec2 frag_tex_coord1;
#endif
#ifdef USE_TX2
layout(location = 3) out vec2 frag_tex_coord2;
#endif

#ifdef USE_FOG
layout(location = 4) out vec3 fog_tex_coord;
#endif

#if defined(USE_VBO_GHOUL2)
layout(location = 8) in uvec4 in_bones;
layout(location = 9) in vec4 in_weights;
#endif

#ifdef USE_FOG
	layout (constant_id = 0) const int hw_fog = 0;
#endif

out gl_PerVertex {
	vec4 gl_Position;
};

#define SHADER_VERT
#include "common/utils.glsl"
#include "common/deform.glsl"
#include "common/color.glsl"
#include "common/skinning.glsl"

void main() {
#if defined(USE_VBO_MDV)
	vec3 position = in_position;
	vec3 normal = normalize(in_normal);

	if ( u_global.deform.type != 0 ){ // !DEFORM_NONE
		position	= DeformPosition( position, normal, frag_tex_coord0 );
		normal		= DeformNormal( position, normal );
	}
#elif defined(USE_VBO_GHOUL2)
	mat4x3 skin_matrix =
		GetBoneMatrix(in_bones.x) * in_weights.x +
        GetBoneMatrix(in_bones.y) * in_weights.y +
        GetBoneMatrix(in_bones.z) * in_weights.z +
        GetBoneMatrix(in_bones.w) * in_weights.w;

	vec3 position = skin_matrix * vec4(in_position, 1.0);
	vec3 normal = normalize(skin_matrix * vec4(in_normal, 0.0));

	if ( u_global.deform.type != 0 ){ // !DEFORM_NONE
		position	= DeformPosition( position, normal, frag_tex_coord0 );
		normal		= DeformNormal( position, normal );
	}
#else
	vec3 position = in_position;
	#if defined(USE_ENV)
		vec3 normal = in_normal;
	#endif
#endif

#if defined (USE_CLX_IDENT) || defined (USE_FIXED_COLOR)
	// use either 1.0 or fixed (rgb+a) color from spec.constants
#else
	#if defined(USE_VBO_MODEL)
		frag_color0 = CalcColor( 0, position, normal );
	#else
		frag_color0 = in_color0;
	#endif

	#ifdef USE_CL1
		#if defined(USE_VBO_MODEL)
			frag_color1 = CalcColor( 1, position, normal );
		#else
			frag_color1 = in_color1;
		#endif
	#endif
	#ifdef USE_CL2
		#if defined(USE_VBO_MODEL)
			frag_color2 = CalcColor( 2, position, normal );
		#else
			frag_color2 = in_color2;
		#endif
	#endif
#endif

	gl_Position = mvp * vec4(position, 1.0);

#ifdef USE_ENV
	#if defined(USE_VBO_MODEL)
		vec3 viewer = normalize( u_entity.localViewOrigin.xyz - position );
	#else
		vec3 viewer = normalize(eyePos.xyz - position);
	#endif

	float d = dot(normal, viewer); 
	vec2 reflected = normal.yz * 2 * d - viewer.yz;

	frag_tex_coord0.s = 0.5 + reflected.x * 0.5;
	frag_tex_coord0.t = 0.5 - reflected.y * 0.5;
#else
	frag_tex_coord0 = in_tex_coord0;
#endif

#ifdef USE_TX1
	frag_tex_coord1 = in_tex_coord1;
#endif
#ifdef USE_TX2
	frag_tex_coord2 = in_tex_coord2;
#endif

// tcGen & tcMod
#if defined(USE_VBO_MODEL)
	#ifndef USE_ENV
		frag_tex_coord0 = GenTexCoords( in_tex_coord0.st, u_global.bundle[0].tcGen.type, position, normal, u_global.bundle[0].tcGen.vector0, u_global.bundle[0].tcGen.vector1 );
	#endif

	if ( u_global.bundle[0].numTexMods > 0 ) {
		frag_tex_coord0 = ModTexCoords( frag_tex_coord0, position, u_global.bundle[0].tcMod.matrix, u_global.bundle[0].tcMod.offTurb );
	}
	#ifdef USE_TX1
		if ( u_global.bundle[1].numTexMods > 0 ) {
			frag_tex_coord1 = ModTexCoords( frag_tex_coord1, position, u_global.bundle[1].tcMod.matrix, u_global.bundle[1].tcMod.offTurb );
		}
	#endif

	#ifdef USE_TX2
		if ( u_global.bundle[2].numTexMods > 0 ) {
			frag_tex_coord2 = ModTexCoords( frag_tex_coord2, position, u_global.bundle[2].tcMod.matrix, u_global.bundle[2].tcMod.offTurb );
		}
	#endif
#endif

#ifdef USE_FOG	
	if ( hw_fog == 1 ) 
	{
		#ifdef USE_VBO_MODEL
			fog_tex_coord = (u_entity.modelMatrix * vec4(position, 1.0)).xyz;
		#else
			// when model vbos are disabled, but the shader still requires
			// the modelmatrix to get world space positions.
			// store the modelmatrix in main uniform
			fog_tex_coord = (int(fogDistanceVector[3]) == 1)
				? (u_entity.modelMatrix * vec4(position, 1.0)).xyz
				: position;
		#endif
	}
	else 
	{
		float s = dot(position, fogDistanceVector.xyz) + fogDistanceVector.w;
		float t = dot(position, fogDepthVector.xyz) + fogDepthVector.w;

		if ( fogEyeT.y == 1.0 ) {
			if ( t < 0.0 ) {
				t = 1.0 / 32.0;
			} else {
				t = 31.0 / 32.0;
			}
		} else {
			if ( t < 1.0 ) {
				t = 1.0 / 32.0;
			} else {
				t = 1.0 / 32.0 + (30.0 / 32.0 * t) / ( t - fogEyeT.x );
			}
		}

		fog_tex_coord.xy = vec2(s, t);
	}
#endif

#if !defined(USE_CLX_IDENT) && defined(USE_VBO_MODEL)
	position		= (u_entity.modelMatrix * vec4(position, 1.0)).xyz;
	normal			= normalize(mat3(u_entity.modelMatrix) * normal);

	//vec3 viewDir = u_camera.u_ViewOrigin.xyz - position;

	vec3 L	= u_entity.localLightOrigin.xyz - (position * u_entity.localLightOrigin.w);

	var_LightDir	= vec4(L, 0.0);	
	var_Normal		= vec4(normal, 0.0);
	//var_ViewDir		= vec4(viewDir, 0.0);
#endif
}